# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.htaccess

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

#Webstorm folder
.idea/
atlassian-ide-plugin.xml

# Ignore Node Modules.
node_modules/
bower_components/

# Ignore target
target/
dist/
public/
.tmp/

.metadata/*
demo/src/main/resources/public/dist/*

# IDEA
*.iml
/.apt_generated/
